<ins>**Introducción a SQL** <ins>

- **DDL (Data Definition Language):** Es un conjunto de comandos de SQL que se utilizan para crear, modificar y eliminar la estructura de una base de datos. Se usan los comandos *CREATE, ALTER, DROP.*

- **Cláusulas:** Son palabras clave que se usan dentro de una estructura select para indicar cómo se debe obtener, filtrar, ordenar u agrupar la base de datos. En pocas palabras, estas claves controlan la forma en que se muestran los resultados de una consulta. *Se usan los comandos FROM, WHERE, GROUP BY, HAVING, ORDER BY.*

- **Operadores lógicos:** Son palabras clave que se utilizan para combinar, ampliar o negrar condiciones dentro de una consulta, principalte en la clausula WHERE. Sirven para tomar decisiones al filtrar los datos. *Se usan los comandos AND, OR, NOT.*

- **Funciones de agregado:** Son funciones que se utilizan para realizar cálculos sobre un conjunto de registros y devolver un sólo resultado numérico. Se emplean principalmente para analizar y resumir los datos dentro de una base de datos. Es decir, sirven para recibir resúmenes de información o realizar operaciones con nuestros datos. *Se usan los comandos AVG, SUM, COUNT, MAX, MIN*

1. <ins>Creación de la estructura (DDL)<ins>

In [ ]:
%pip install -q ipython-sql sqlalchemy
%load_ext sql
%sql sqlite:///PropeAnalisis_Clase4.db

In [ ]:
%%sql
-- Se crean las bases de datos

-- 1.Borramos las tablas si existen para evitar errores 
DROP TABLE IF EXISTS Calificaciones; -- Borra primero la tabla de notas (porque depende de las otras).
DROP TABLE IF EXISTS Materias;        -- Borra la tabla de materias.
DROP TABLE IF EXISTS Alumnos;         -- Borra la tabla de alumnos al final.

-- 2. Creación de la tabla de Alumnos
CREATE TABLE Alumnos (
    id_alumno INT PRIMARY KEY,       -- Define el ID como llave primaria (identificador único e irrepetible).
    nombre VARCHAR(50),               -- Espacio para el nombre, máximo 50 caracteres.
    edad INT                         -- Espacio para números enteros (la edad).
);

-- 3. Creación de la tabla de Materias
CREATE TABLE Materias (
    id_materia INT PRIMARY KEY,      -- Identificador único para cada materia.
    nombre_materia VARCHAR(50),       -- Nombre de la asignatura.
    creditos INT                     -- Valor académico de la materia.
);

-- 4. Creación de la tabla de Calificaciones (Tabla Relacional)
CREATE TABLE Calificaciones (
    id_calificaciones INT PRIMARY KEY, -- Identificador único para cada registro de nota.
    id_alumno INT,                     -- Columna para conectar con la tabla Alumnos.
    id_materia INT,                    -- Columna para conectar con la tabla Materias.
    calificaciones DECIMAL(4,2),       -- Número decimal (ej. 9.50) con 4 dígitos en total y 2 decimales.
    
    -- Configuración de Relaciones (Llaves Foráneas)
    FOREIGN KEY (id_alumno) REFERENCES Alumnos(id_alumno),   -- Une esta tabla con Alumnos.
    FOREIGN KEY (id_materia) REFERENCES Materias(id_materia) -- Une esta tabla con Materias.
);

2. <ins> Insertar Datos <ins>

In [ ]:
%%sql
-- Se agregan datos en las bases anteriormente creadas

-- 1. Insertar datos en la tabla Alumnos
INSERT INTO Alumnos (id_alumno, nombre, edad) VALUES
(1, 'Juan Perez', 20),      -- Crea al alumno con ID 1
(2, 'Maria Gomez', 22),     -- Crea a la alumna con ID 2
(3, 'Luis Rodriguez', 21),  -- Crea al alumno con ID 3
(4, 'Ana Martinez', 19);    -- Crea a la alumna con ID 4

-- 2. Insertar datos en la tabla Materias
INSERT INTO Materias (id_materia, nombre_materia, creditos) VALUES
(1, 'Matematicas', 4),      -- ID 1: Matemáticas con valor de 4 créditos
(2, 'Programacion', 3),     -- ID 2: Programación con valor de 3 créditos
(3, 'Analisis de datos', 4);-- ID 3: Análisis con valor de 4 créditos

-- 3. Insertar datos en la tabla Calificaciones (Relacionando Alumnos con Materias)
INSERT INTO Calificaciones (id_calificaciones, id_alumno, id_materia, calificaciones) VALUES
(1, 1, 1, 85.50), -- El alumno 1 (Juan) en la materia 1 (Mates) sacó 85.50
(2, 1, 2, 90.00), -- El alumno 1 (Juan) en la materia 2 (Prog) sacó 90.00
(3, 2, 1, 78.00), -- La alumna 2 (Maria) en la materia 1 sacó 78.00
(4, 2, 3, 88.50), -- La alumna 2 (Maria) en la materia 3 sacó 88.50
(5, 3, 2, 92.00), -- El alumno 3 (Luis) en la materia 2 sacó 92.00
(6, 3, 3, 63.00), -- El alumno 3 (Luis) en la materia 3 sacó 63.00
(7, 4, 1, 95.00), -- La alumna 4 (Ana) en la materia 1 sacó 95.00
(8, 4, 2, 51.50); -- La alumna 4 (Ana) en la materia 2 sacó 51.50

3. <ins> Consultas básicas <ins>

In [ ]:
%%sql

SELECT * FROM Alumnos; -- Muestra todos los alumnos registrados

SELECT nombre, edad -- Muestra el nombre y la edad de los alumnos mayores de 20 años
FROM Alumnos
WHERE edad > 20;

4. <ins> Operadores lógicos (AND, OR, NOT) <ins>

In [ ]:
%%sql
SELECT nombre, edad -- Muestra el nombre y la edad de los alumnos mayores de 20 años
FROM Alumnos
WHERE edad > 20
    AND (nombre LIKE 'A%' OR nombre LIKE 'J%') -- Nombres que empiezan con A o J
    AND (edad BETWEEN 18 AND 22); -- Edad entre 18 y 22 años

In [ ]:
%%sql
SELECT * FROM Calificaciones
WHERE NOT calificaciones >= 60.00; -- Muestra las calificaciones reprobadas. Es decir, las calificaciones que no son mauores o iguales a 60.00

4. <ins> Funciones de agregado (AVG, COUNT, SUM, MAX, MIN) + GROUP BY, HAVING <ins>

In [ ]:
%%sql
--Obtiene el promedio de calificación de cada alumno

-- 1. Seleccionamos las columnas que queremos ver en el resultado final
SELECT 
    a.nombre,                     -- El nombre del alumno (desde la tabla Alumnos)
    AVG(c.calificaciones) AS promedio -- Calcula el promedio de las notas y renombra la columna como 'promedio'

-- 2. Definimos de qué tabla principal vienen los datos numéricos
FROM Calificaciones c             -- Usamos 'c' como un alias corto para la tabla Calificaciones

-- 3. Unimos (vinculamos) la tabla de calificaciones con la de alumnos
JOIN Alumnos a ON c.id_alumno = a.id_alumno 
-- El JOIN busca que el ID en Calificaciones coincida con el ID en Alumnos para saber de quién es cada nota

-- 4. Agrupamos los resultados
GROUP BY a.nombre;                
-- Sin esta línea, el sistema intentaría promediar todas las notas de la escuela en una sola fila. 
-- Al agrupar por nombre, le decimos: "haz un promedio por cada alumno individual".

In [ ]:
%%sql
--Muestra cuántas calificaciones tiene cada materia

-- 1. Seleccionamos el nombre de la materia y contamos cuántas calificaciones tiene cada una
SELECT 
    m.nombre_materia,                   -- De la tabla 'm' (Materias), extrae el nombre descriptivo de la materia.
    COUNT(c.id_calificaciones) AS total_calificaciones -- Cuenta cuántas filas hay en 'c' (Calificaciones) para esa materia y nombra el resultado como 'total_calificaciones'.

-- 2. Definimos la tabla principal de donde vienen los datos numéricos (las notas)
FROM Calificaciones c                   -- Usamos la tabla Calificaciones y le asignamos el alias 'c' para que el código sea más corto.

-- 3. Unimos la tabla de Calificaciones con la de Materias para poder ver los nombres
JOIN Materias m                         -- Traemos la tabla Materias y le asignamos el alias 'm'.
    ON c.id_materia = m.id_materia      -- Conectamos ambas tablas donde el ID de la materia coincida (así sabemos a qué materia pertenece cada nota).

-- 4. Agrupamos los datos para que el conteo no sea global, sino por cada materia
GROUP BY m.nombre_materia;              -- Le indica a SQL que junte todas las notas de 'Matemáticas', luego todas las de 'Programacion', etc., y haga el conteo por cada grupo.

In [ ]:
%%sql
-- Obtiene la calificación máxima y mínima por cada materia 

-- 1. Seleccionamos el nombre de la materia y calculamos los valores extremos
SELECT 
    m.nombre_materia,               -- De la tabla 'm' (Materias), obtenemos el nombre de la materia.
    MAX(c.calificaciones) AS calificacion_maxima, -- De la tabla 'c' (Calificaciones), busca el valor más alto y lo etiqueta como 'calificacion_maxima'.
    MIN(c.calificaciones) AS calificacion_minima  -- De la tabla 'c', busca el valor más bajo y lo etiqueta como 'calificacion_minima'.

-- 2. Definimos la tabla origen donde están los datos numéricos
FROM Calificaciones c               -- Usamos la tabla Calificaciones y le asignamos el alias 'c' para abreviar.

-- 3. Vinculamos las calificaciones con los nombres de las materias
JOIN Materias m                     -- Traemos la tabla Materias con el alias 'm'.
    ON c.id_materia = m.id_materia  -- Conectamos ambas tablas usando el ID de la materia como punto de unión.

-- 4. Agrupamos los resultados para que el cálculo se haga por cada asignatura
GROUP BY m.nombre_materia;          -- Sin esto, SQL solo nos daría el máximo y mínimo de toda la escuela; con esto, lo hace por cada materia individual.

In [ ]:
%%sql
-- Muestra solamente a los alumnos cuyo promedio sea mayor o igual a 8, usando HAVING

-- 1. Seleccionamos el nombre del alumno y calculamos su promedio
SELECT 
    a.nombre,                       -- De la tabla 'a' (Alumnos), extraemos el nombre.
    AVG(c.calificaciones) AS promedio -- De la tabla 'c' (Calificaciones), calculamos el promedio y lo etiquetamos como 'promedio'.

-- 2. Definimos la tabla origen de las notas
FROM Calificaciones c               -- Usamos 'Calificaciones' como tabla base con el alias 'c'.

-- 3. Vinculamos las notas con los datos personales de los alumnos
JOIN Alumnos a                      -- Traemos la tabla 'Alumnos' con el alias 'a'.
    ON c.id_alumno = a.id_alumno    -- Conectamos ambas tablas mediante el ID del alumno que comparten.

-- 4. Agrupamos los resultados por cada alumno
GROUP BY a.nombre                   -- Juntamos todas las notas que pertenecen a la misma persona para promediarlas.

-- 5. Aplicamos un filtro a los resultados ya calculados
HAVING AVG(c.calificaciones) >= 8;  -- ¡Esta es la clave! Solo muestra a los alumnos cuyo promedio final sea mayor o igual a 8.

5. <ins> Ordenar resultados (ORDER BY) <ins>

In [ ]:
%%sql
-- Lista a los alumnos con su promedio, ordenados del más alto al más bajo

-- 1. Seleccionamos el nombre y calculamos el promedio
SELECT 
    a.nombre,                          -- De la tabla 'a' (Alumnos), extraemos el nombre.
    AVG(c.calificaciones) AS promedio  -- De la tabla 'c' (Calificaciones), calculamos el promedio de notas. 
                                       -- Se usa 'AS promedio' para darle un nombre fácil de usar después.

-- 2. Definimos el origen de los datos
FROM Calificaciones c                  -- Establecemos 'Calificaciones' como la tabla base (alias 'c').

-- 3. Unimos las tablas para obtener los nombres
JOIN Alumnos a                         -- Traemos la tabla 'Alumnos' (alias 'a').
    ON c.id_alumno = a.id_alumno       -- Las conectamos mediante el ID del alumno que tienen en común.

-- 4. Agrupamos por alumno
GROUP BY a.nombre                      -- Agrupamos las notas para que el promedio se calcule por cada persona.

-- 5. Ordenamos los resultados finales
ORDER BY promedio DESC;                -- ¡Esta es la parte clave! Ordena la tabla basándose en la columna 'promedio'.
                                       -- 'DESC' significa Descendente (de mayor a menor).

6. <ins> Actualizar y borrar datos (UPDATE, DELETE) <ins>

In [ ]:
%%sql
-- Actualiza el dato de la calificación de un estudiante

-- 1. Indicamos qué tabla queremos modificar
UPDATE Calificaciones         -- Especifica que vamos a hacer un cambio en la tabla 'Calificaciones'.

-- 2. Definimos el nuevo valor
SET calificaciones = 70.0      -- Cambia el valor de la columna 'calificaciones' a 70.0 

-- 3. Filtramos para no afectar a todos los registros
WHERE id_alumno = 4           -- Condición 1: Solo aplica el cambio al alumno con el ID número 4.
    AND id_materia = 1;       -- Condición 2: Y que además sea específicamente en la materia con ID número 1.

In [ ]:
%%sql
-- Borra todas las calificaciones del alumno con id_alumno 2

-- 1. Indicamos de qué tabla vamos a borrar registros
DELETE FROM Calificaciones  -- Especifica la tabla donde se realizará la eliminación.

-- 2. Filtramos qué registros específicos se deben ir
WHERE id_alumno = 2;         -- Solo borra las filas que pertenecen al alumno con ID 2.

7. <ins> Modificar estructura (ALTER) y eliminar tabla (DROP) <ins>

In [ ]:
%%sql
-- Agrega una columna llamada "correo" a la tabla Alumnos

-- 1. Indicamos qué tabla vamos a modificar
ALTER TABLE Alumnos            -- Le dice a la base de datos: "Quiero hacer un cambio estructural en la tabla Alumnos".

-- 2. Definimos la nueva columna y su tipo de dato
ADD correo VARCHAR(100);       -- 'ADD' es la instrucción para agregar una nueva columna llamada 'correo'.
                               -- 'VARCHAR(100)' define que esta columna guardará texto (letras y símbolos) con un límite máximo de 100 caracteres.

In [ ]:
%%sql
-- Elimina la tabla Calificaciones (por ejemplo, para recrearla)
--DROP TABLE Calificaciones;